CONNPASS_API_KEY=your_connpass_api_key
SLACK_WEBHOOK_URL_EVENT_READING=https://hooks.slack.com/services/...
SLACK_WEBHOOK_URL_EVENT_TECH=https://hooks.slack.com/services/...
CONNPASS_SUBDOMAIN=kaira-thesis-reading
TZ=Asia/Tokyo
